# Environment
.env
.env.local
.env.*.local

# Build
dist
.output
build
*.local

# Dependencies
node_modules

# IDEs
.vscode
.idea
.DS_Store
*.suo
*.sln
*.sw?

# Deployment
.vercel
.wrangler/
.dev.vars

# Logs
logs
*.log

# Testing
coverage

# OS
Thumbs.db
