# Environment
.env
.env.local
.env.*.local
.env.production.local

# Build
dist
dist-ssr
.output
.vinxi
.nitro
build
*.local

# Dependencies
node_modules
package-lock.json

# IDEs
.vscode
.idea
.DS_Store
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deployment
.vercel
.wrangler/
.dev.vars
.railway

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Testing
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# Misc
.cache
.parcel-cache
.turbo
